{# FuzQuickStartBundle::layout.html.twig #}

{% extends 'FuzQuickStartBundle::base.html.twig' %}

{% block left_menu %}
    {% if fuz.menu_left %}
        {% if is_granted('ROLE_USER') %}
            {{ knp_menu_render('AppBundle:Builder:userLeftMenu') }}
        {% else %}
            {{ knp_menu_render('AppBundle:Builder:mainLeftMenu') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block right_menu %}
    {% if fuz.menu_right %}
        {% if is_granted('ROLE_USER') %}
            {{ knp_menu_render('AppBundle:Builder:userRightMenu') }}
        {% else %}
            {{ knp_menu_render('AppBundle:Builder:mainRightMenu') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block translations %}
    {% if fuz.supported_locales|length %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'quickstart.locale.title' | trans }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% block supported_locales %}
                        {% for locale, data in fuz.supported_locales %}
                        <li>
                            <a href="{{ path('reload', {'_locale': locale}) }}">
                                <img class="lang-image" src="{{ asset('bundles/fuzquickstart/img/countries/' ~ data.flag ~ '.png') }}" alt=""/>
                                {{ data.menu }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endblock %}
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}
